/* General */
body, html {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background: #e8eefc;
  color: #1e293b;
  text-decoration: none;
}

/* Container */
.welcome-container {
  display: flex;
  flex-direction: column;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: transparent;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.logo-icon {
  margin-right: 1rem;
}

.get-started-btn {
  background: linear-gradient(90deg, #3E52E7, #3b82f6);
  color: white;
  border: none;
  padding: 1rem 3rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 60px;
  gap: 40px;
}

.hero-text {
  flex: 1;
  font-size: 1.3rem;
}

.subtitle {
  color: #3E52E7;
  margin-bottom: 10px;
}

.hero h1 {
  font-size: 4rem;
  margin: 0;
}

.highlight {
  color: #3E52E7;
}

.description {
  margin: 20px 0;
  font-size: 1.2rem;
  color: gray;
}

.hero-buttons {
  display: flex;
  gap: 1rem;
  
}

.primary-btn {
  background: linear-gradient(90deg, #3E52E7, #3b82f6);
  color: white;
  border: none;
  padding: 1rem 3rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.1rem;
  text-decoration: none;
}

.secondary-btn {
  background: white;
  border: 1px solid #cbd5e1;
  padding: 1rem 2rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
}

.hero-image {
  flex: 1;
  position: relative;
}

.hero-image img {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.1);
}

.live-analysis {
  position: absolute;
  bottom: 12px;
  left: 12px;
  background: white;
  padding: 10px 14px;
  border-radius: 8px;
  font-size: 14px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #22c55e;
  border-radius: 50%;
  margin-right: 6px;
}

/* Features Section */
.features {
  text-align: center;
  padding: 2rem;
  background-color: white;
}

.features h2 {
  font-size: 3rem;
  margin-bottom: 12px;
}

.features-subtitle {
  color: #64748b;
  margin-bottom: 40px;
}

.features-grid {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 4rem 0rem;
}

.feature-card {
  background: white;
  border-radius: 12px;
  padding: 5rem;
  box-shadow: 0 6px 16px rgba(0,0,0,0.05);
  flex: 1;
}

.feature-card .icon {
  font-size: 32px;
  margin-bottom: 12px;
}

.feature-card h3 {
  margin-bottom: 10px;
}

/* CTA Section */
.cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
  gap: 40px;
}

.cta-text {
  flex: 1;
}
.cta-text h2{
  font-size: 2.5rem;
}


.cta-text ul {
  padding-left: 0;
  list-style: none;
}

.cta-text li {
  margin-bottom: 10px;
  font-size: 1.1rem;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
}

.cta-box {
  flex: 1;
  display: flex;
  background: linear-gradient(90deg, #3E52E7, #3b82f6);
  color: white;
  padding: 3.4rem;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.1);
  flex-direction: column;
  align-self: flex-end;
  margin-bottom: 15px;
}

.cta-box-button {
  margin-top: 1rem;
  background: white;
  color: black;
  font-weight: 600;
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  text-align: center;
  cursor: pointer;
}
.cta-box p {
  margin-top: 0;
  text-align: center;
  color: whitesmoke;
}
.cta-box h3{
  text-align: center;
  font-size: 1.5rem;
  margin-top: 0;
}

/* Footer */
.footer {
  background: #0f172a;
  color: #cbd5e1;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer .logo-text {
  display: block;
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
}
.footer p{
  color: gray;
}
